<h1 class="text-center mt-2">We'd love to get your feedback about articles</h1>
<h4 class="text-center mb-5"> Feel free to send us your opinions</h4>

<div class="container d-flex">
<div class="col-5 p-5 form">
  <div class="mt-3 errorText">
    <div
      class="alert alert-danger"
      *ngIf="_fireStoreService.errorMessage"
    >
      <p class="m-0">{{ _getUserService.errorMessage }}</p>
    </div>
  </div>
<form [formGroup]="recForm" (ngSubmit)="onSubmit($event)">
  <div class="emailRegInfo">
    <em class="required" *ngIf="imageIsInvalid()"
      >* Required</em
    >
    </div>
    <div class="profile-img">
        <img [src]="imgSrc" alt=""/>
        <div class="file btn btn-lg btn-primary">
            Attach Photo
            <input  type="file" accept="image/*" name="image" formControlName="image"
            [ngClass]="{ 'is-invalid': imageIsInvalid() }"(click)="setEditImg()" (change)="showPreviewImage($event)"/>
        </div>
    </div>
    <div class="mb-3">
      <div class="emailRegInfo">
        <em class="required" *ngIf="emailIsInvalid()"
          >Required Pattern: Must contain @ and a dot</em
        >
        </div>
      <label for="email" class="form-label">Your Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" autocomplete="off" formControlName="email" [ngClass]="{ 'is-invalid': emailIsInvalid() }">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <div class="emailRegInfo">
        <em class="required" *ngIf="titleIsInvalid()"
          >* Required. Min length - 3</em
        >
        </div>
        <label for="articleTitle" class="form-label">Article Title</label>
        <input type="text" class="form-control" id="articleTitle" autocomplete="off"
        name="articleTitle" formControlName="articleTitle" [ngClass]="{ 'is-invalid': titleIsInvalid() }">
      </div>
      <div class="mb-3">
        <div class="emailRegInfo">
          <em class="required" *ngIf="authorIsInvalid()"
            >* Required.  Min length - 3</em
          >
          </div>
        <label for="articleAuthor" class="form-label">Article Author</label>
        <input type="text" class="form-control" id="articleAuthor" autocomplete="off"
        name="articleAuthor" formControlName="articleAuthor" [ngClass]="{ 'is-invalid':authorIsInvalid() }">
      </div>
      <div class="mb-3">
        <div class="emailRegInfo">
          <em class="required" *ngIf="opinionIsInvalid()"
            >* Required.  Min length - 5</em
          >
          </div>
        <label for="opinion" class="form-label">Your Opinion</label>
        <input type="text" class="form-control" id="opinion" autocomplete="off"
        name="opinion" formControlName="opinion" [ngClass]="{ 'is-invalid': opinionIsInvalid() }">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="recommend" autocomplete="off"
      name="recommend" (click)="toggleRecommendation()" [checked]="recommendation.recommend">
      <label class="form-check-label" for="recommend">Recommend</label>
    </div>
    <div (mouseenter)="buttonHover = true"
    (mouseleave)="buttonHover = false">
    <button type="submit" class="btn btn-primary" [disabled]="recForm.invalid">Submit</button>
  </div>
  </form>
  {{recommendation |json}}
</div>



<div class="col-7 p-2 ms-4 recommendations" *ngIf="recommendationsArray">
  <div *ngFor="let recommendation of recommendationsArray" class="recommendation mb-3">
    <app-recommendation-card [recommendation]="recommendation" (onEditClick)="editRecommendation($event)" (onDeleteClick)="deleteRecommendation($event)">
    </app-recommendation-card>
    </div>

</div>
</div>
