img {
  height: 200px;
  object-fit: cover;
}

h5 {
  font-size: 18px;
  height: 60px;
}

p {
  font-size: 15px;
}

.card-body {
  height: 280px;
}

.card-text {
  height: 120px;
}

.card {
  box-shadow: 10px 10px 5px #d1cece;
}
